@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-manrope), var(--font-noto), "Manrope", "Noto Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
